/* .wrapper {
    height: 70vh;
    width: 100%;
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    
} */
.height {
    height: 75vh;
}